.App {
  text-align: center;
}

.book {
  line-height: 1.75em;
}

.owned-entry {
  margin-left: .5em;
  padding: 0 .25em;
  border: 1px solid black;
}

.category-entry {
  margin-left: .5em;
  padding: 0 .25em;
  border: 1px solid black;
}